[submodule "libraries"]
	path = libraries
	url = https://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@github.com/thuyenvunguyen/libraries.git
[submodule "lib"]
	path = lib
	url = https://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@github.com/thuyenvunguyen/libraries.git
